aiogram==2.9.2
aiohttp==3.7.4.post0
amqp==5.0.6
asgiref==3.3.4
async-timeout==3.0.1
asyncpg==0.23.0
attrs==21.2.0
Babel==2.9.1
billiard==3.6.4.0
celery==5.1.0
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
Django==3.2.3
django-scheduler==0.9.5
environs==8.0.0
gevent==21.1.2
greenlet==1.1.0
grequests==0.6.0
icalendar==4.0.7
idna==2.10
kombu==5.1.0
marshmallow==3.12.1
multidict==5.1.0
prompt-toolkit==3.0.18
pycparser==2.20
python-dateutil==2.8.1
python-dotenv==0.17.1
pytz==2021.1
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.5
vine==5.0.0
wcwidth==0.2.5
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.4.0
